#toptb {background:#fff;}
#um .new, .topnav .new, .sch .new, #toptb .new {color:{NOTICETEXT};}
body#space .comiis_footer #ft {background:none;}
#frame1_left #profile_content.dxb_bc .hm {padding-top:10px;}
.ul_magicgift {line-height:18px;}
.p_pop, .p_pof, .sllt {margin-top:6px;}
body#space .comiis_footer a, body#space .comiis_footer a:hover, body#space .comiis_footer a:active {color:{FOOTERTEXT};}
#diy-tg {background-position:100% 9px;}
