#thread_types{
	display:none;
}
.lib li {
    width: 270px;
    float: left;
    height: 95px;
	margin: 0 2px 7px;
}
.lib li > div {
    border: #ddd 1px solid;
    padding: 5px;
	width:248px;
}
.lib li .t {
    height: 46px;
    overflow: hidden;
}
.imga {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    border: #ddd 1px solid;
    padding: 2px;
    border-radius: 5px;
}
.lib li .t .imga {
    float: left;
    margin-right: 5px;
    border: #ddd 1px solid;
    padding: 2px;
}
.lib li .b {
    line-height: 20px;
    border-top: #ddd 1px dashed;
    margin-top: 5px;
    padding: 5px 0 2px;
}
.libdown {
    font-weight: normal;
    font-size: 12px;
    float: right;
    margin-right: 5px;
}
.lib li .b i {
    color: #999;
}
.lijs {
    position: relative;
    border: #92d3e9 1px solid;
    background: #f1fcff;
    width: 248px;
    line-height: 20px;
    padding: 5px;
    color: #2596bb;
    z-index: 1;
}
.lib li .lijs {
    left: -6px;
    bottom: -8px;
}
.lib li .b i {
    color: #999;
}
.xhkj5_a:hover {
    text-decoration:none;
	color:#444;
}
.lib li .over, .lib1 li .over {
    border: #92d3e9 1px solid;
    z-index: 99;
    position: absolute;
    box-shadow: 0 0 10px #ccc;
}